spring:
  application:
    name: GoogleBackEnd
    version: 1.0.0

  web:
    resources:
      add-mappings: false

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate.format_sql: true
      dialect: org.hibernate.dialect.MySQL8InnoDBDialect

  data:
    redis:
      host: ${REDIS_URL}
      port: 6379
      password: ${REDIS_PW}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_CLIENT_ID}
            client-secret: ${OAUTH_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: ${REDIRECT_URL}

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET_KEY}

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.cache: trace
#    io.lettuce.core: DEBUG

app:
  file:
    base-url: ${FILE_URL}  # 운영에서는 실제 도메인 넣기
    upload-dir: uploads/signature